services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=docker_stud_management_database'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - student-network

  app:
    build: .
    ports:
      - '8081:8081'
    environment:
      - 'SPRING_PROFILES_ACTIVE=docker'
    depends_on:
      - postgres
    networks:
      - student-network

volumes:
  postgres_data:

networks:
  student-network:
    driver: bridge